<div id="theme-main-banner" class="banner-one">
    <div data-src="../../assets/images/home/slide-1.jpg">
        <div class="camera_caption">
            <div class="container">
                <h1 class="wow fadeInUp animated">Cảm nhận âm nhạc từ trái tim</h1>
                <p class="wow fadeInUp animated" data-wow-delay="0.5s">Trung tâm được thành lập bởi những giáo sư, tiến sĩ về âm nhạc hàng  đâu.<br> Đã hoạt động được hơn 10 năm </p>
            </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
    </div>
</div> <!-- /#theme-main-banner -->
<div class="section-spacing our-feature-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="theme-title-one">
                    <h6 class="upper-title">Thành tựu</h6>
                    <h2 class="main-title">Với nhiều năm kinh nghiệm, chúng tôi đã dành được rất nhiều giải thưởng</h2>
                </div> <!-- /.theme-title-one -->
                <a href="about-us.html" class="theme-button-one button--tamaya color-one" data-text="Chi tiết"><span>Chi tiết</span></a>
            </div> <!-- /.col- -->
            <div class="col-lg-6">
                <div class="single-block" data-aos="fade-up" data-aos-delay="150">
                    <h6>Giải nhất kì thì piano nhí</h6>
                    <p>Năm 2018, những học viên của chúng tôi đã giành được giải nhất trong giải piano toàn quốc trong độ tuổi từ 7 - 15 tuổi</p>
                </div>
                <div class="single-block" data-aos="fade-up" data-aos-delay="250">
                    <h6>Giải nhất kì thì piano nhí</h6>
                    <p>Năm 2018, những học viên của chúng tôi đã giành được giải nhất trong giải piano toàn quốc trong độ tuổi từ 7 - 15 tuổi</p>
                </div>
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.our-feature-one -->
<div class="section-spacing about-us">
    <img src="../../assets/images/shape/3.png" alt="" class="shape-two">
    <div class="main-container clearfix">
        <div class="inner-container left-content">
            <img src="../../assets/images/shape/2.png" alt="" class="shape" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="150">
            <div class="inner-col">
                <div class="img-box">
                    <div class="dot" data-aos="fade-up" data-aos-delay="150"></div>
                    <div class="dot" data-aos="fade-up" data-aos-delay="350"></div>
                    <div class="dot" data-aos="fade-up" data-aos-delay="550"></div>
                    <div class="dot" data-aos="fade-up" data-aos-delay="750"></div>
                    <img src="../../assets/images/home/1.jpg" alt="">
                </div> <!-- /.img-box -->
            </div> <!-- /.inner-col -->
        </div> <!-- /.inner-container -->

        <div class="inner-container right-content">
            <div class="wrapper">
                <div class="theme-title-one">
                    <h2 class="main-title">Tham gia ngay với chúng tôi</h2>
                </div> <!-- /.theme-title-one -->
                <p>
                    Hãy cùng tham gia với chúng tôi để có thể thỏa mãn đam mê của bản thân. Hãy để tiềm năng của các bạn được tỏa sáng
                </p>
                <ul class="ceo-info clearfix">
                    <li><img src="../../assets/images/home/sign.png" alt=""></li>
                    <li class="info">
                        <img src="../../assets/images/home/2.jpg" alt="" class="ceo-image">
                        <div class="name">
                            <h6>Mahfuz Riad</h6>
                            <p>CEO & Founder</p>
                        </div>
                    </li>
                </ul>
                <a href="#" class="read-more">Chi tiết</a>
            </div> <!-- /.wrapper -->
        </div> <!-- /.inner-container -->
    </div> <!-- /.main-container -->
</div> <!-- /.about-us -->
<div class="section-spacing">
    <div class="our-services">
        <img src="../../assets/images/shape/5.png" alt="" class="shape-one">
        <img src="../../assets/images/shape/6.png" alt="" class="shape-two">
        <div class="container">
            <div class="theme-title-two">
                <h2 class="main-title">Loại hình đào tạo</h2>
            </div> <!-- /.theme-title-two -->

            <div class="row">
                <div class="col-lg-4">
                    <div class="service-block">
                        <div class="num"><span>01</span></div>
                        <h6>Học đàn</h6>
                        <p>Lorem ipsum dolor sit amet consem et ctetuering adipisc elit sed diam.</p>
                    </div> <!-- /.service-block -->
                </div>
                <div class="col-lg-4">
                    <div class="service-block">
                        <div class="num"><span>02</span></div>
                        <h6>Học múa</h6>
                        <p>Lorem ipsum dolor sit amet consem et ctetuering adipisc elit sed diam.</p>
                    </div> <!-- /.service-block -->
                </div>
                <div class="col-lg-4">
                    <div class="service-block">
                        <div class="num"><span>03</span></div>
                        <h6>Học nhảy </h6>
                        <p>Lorem ipsum dolor sit amet consem et ctetuering adipisc elit sed diam.</p>
                    </div> <!-- /.service-block -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.our-services -->
</div>
<div class="section-spacing">
    <div class="our-fact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"><h2 class="main-title">Last year we proved that we’re the best Dance Services </h2></div>
                <div class="col-lg-6"><p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="counter-section">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="single-counter-box">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="20" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                                    <p>Certified Trainer</p>
                                </div> <!-- /.single-counter-box -->
                            </div>
                            <div class="col-sm-6">
                                <div class="single-counter-box">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="1300" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                                    <p>Verified Happy Client</p>
                                </div> <!-- /.single-counter-box -->
                            </div>
                            <div class="col-sm-6">
                                <div class="single-counter-box">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="150" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                                    <p>Time Award Winner</p>
                                </div> <!-- /.single-counter-box -->
                            </div>
                            <div class="col-sm-6">
                                <div class="single-counter-box">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="280" data-speed="1200" data-refresh-interval="5">0</span>+</h2>
                                    <p>Features added</p>
                                </div> <!-- /.single-counter-box -->
                            </div>
                        </div>
                    </div> <!-- /.counter-section -->
                </div> <!-- /.col- -->

                <div class="col-lg-6 col-12">
                    <div class="strategy-section">
                        <div class="row">
                            <div class="col-sm-6 strategy-block">
                                <div>
                                    <div class="icon"><i class="flaticon-007-ballet"></i></div>
                                    <h6>Dance Schedule</h6>
                                    <p>Find out what's happening by viewing our full schedule of classes.</p>
                                </div>
                            </div> <!-- /.strategy-block -->
                            <div class="col-sm-6 strategy-block">
                                <div>
                                    <div class="icon"><i class="flaticon-008-ballet-1"></i></div>
                                    <h6>Professional dance</h6>
                                    <p>Find out what's happening by viewing our full schedule of classes.</p>
                                </div>
                            </div> <!-- /.strategy-block -->
                        </div> <!-- /.row -->
                    </div> <!-- /.strategy-section -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.our-fact -->
</div>
<div class="section-spacing our-classes">
    <div class="container">
        <div class="theme-title-two">
            <h2 class="main-title">Bài viết</h2>
            <a routerLink="/posts/list" class="theme-button-one button--tamaya color-one" data-text="Tất cả bài viết"><span>Tất cả bài viết</span></a>
        </div> <!-- /.theme-title-two -->
    </div> <!-- /.container -->
    <div class="main-container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let post of posts">
                <div class="single-block">
                    <div class="img-box"><img src="{{post.image}}" alt=""></div>
                    <div class="text">
                        <h6><a routerLink="/posts/{{post.id}}">{{post.title}}</a></h6>
                        <p>{{post.description}}</p>
                        <a routerLink="/posts/{{post.id}}" class="theme-button-two">Chi tiết<span></span></a>
                    </div>
                </div> <!-- /.single-block -->
            </div>
        </div> <!-- /.row -->
    </div>
</div>
<div class="section-spacing">
    <div class="short-banner">
        <h2>Online Dance Classes With The <br>World's Best Instructors</h2>
        <a href="#" class="button-style">Start Dance TODAY</a>
        <img src="images/shape/7.png" alt="" class="shape-one">
        <img src="images/shape/8.png" alt="" class="shape-two">
    </div> <!-- /.short-banner -->
</div>
